<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Witter-on - An invite only chat app</title>

    <link rel="stylesheet" href="https://use.typekit.net/gou2xpw.css">
    <link rel="stylesheet" href="public/css/style.css">
    
</head>
<body class="{{ bodyClass }}">
    {{{body}}}

    {{#if useSockets }}
        <script src="socket.io/socket.io.js"></script>
        <script>
            var socket = io();

            var form = document.getElementById('form');
            var input = document.getElementById('messageText');
            var messageLog = document.getElementById('messageLog')

            form.addEventListener('submit', function(e) {
                e.preventDefault();
                if (input.value) {
                socket.emit('chat message', input.value);
                input.value = '';
                }
            });

            socket.on('chat message', function(msg) {
                console.log('incoming!')
                var item = document.createElement('li');
                item.textContent = msg;
                messageLog.appendChild(item);
                window.scrollTo(0, document.body.scrollHeight);
            });
        </script>
    {{/if}}
</body>
</html>