<ul id="messageLog">
    <li class="sys-message">Welcome to the chatroom!</li>
</ul>

<form id="form">
    <input type="text" id="messageText">
    <button type="submit">Send message!</button>
</form>