<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Witter-on - An invite only chat app</title>

    <link rel="stylesheet" href="https://use.typekit.net/gou2xpw.css">
    <link rel="stylesheet" href="public/css/style.css">
    
</head>
<body class="{{ bodyClass }}">
    <h1>
        <span class="lead">
            <i>W</i><i>i</i><i>t</i><i>t</i><i>e</i><i>r</i><i>-</i><i>O</i><i>n</i>
        </span>
        <span class="sub-heading">An invite only chat app</span>
    </h1>
    <form action="passcode" id="form" method="POST">
        <label for="passcode">
            <span>Enter your passcode:</span>
        </label>
        <input type="text" name="passcode" id="passcode" />
        <button>Enter</button>
    </form>
</body>
</html>